.contact {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  position: relative;
  background-color: var(--color-dark-theme-2);
}

.contact_image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contact_title {
  width: 100%;
  height: auto;
}

.contact_icons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  place-content: center;
  gap: 10px;
}

.contact_icons .contact_item {
  width: 90px;
  height: 90px;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--color-linear);
  box-shadow: var(--shadow);
  transform: rotate(45deg);
}

.contact_item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-theme-2);
}

.contact_icon {
  font-size: 30px;
  color: var(--color-terciary);
  transform: rotate(315deg);
}

.contact_item a:hover .contact_icon {
  color: var(--color-light);
  border-color: var(--color-light);
}

@media (min-width: 600px) {
  .contact_icons {
    grid-template-columns: repeat(2, 120px);
  }
  
  .contact_icons .contact_item {
    width: 120px;
    height: 120px;
  }

  .contact_icon {
    font-size: 35px;
  }
}