.hero {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark-theme-2);
  transition: background-color 0.5s ease;
}

.hero_title {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_title h1 {
  font-size: var(--font-size-h1-1);
  text-align: center;
  margin-bottom: 25px;
  animation: text 3s 1;
}

.hero_title span {
  color: var(--color-light);
  font-size: var(--font-size-li-1);
  text-align: center;
}

@keyframes text {
  0% {
    margin-bottom: -5px;
  }
  30% {
    margin-bottom: -5px;
  }
  85% {
    margin-bottom: -5px;
  }
}

.hero_image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.light_1 {
  background-color: var(--color-light);
  transition: background-color 0.5s ease;
}

.light_1 .hero_title h1 {
  background-image: var(--color-linear-3);
}

.light_1 .hero_title span {
  color: var(--color-dark-theme-3);
  font-weight: 600;
}

@media (min-width: 700px) {
  .hero_title h1 {
    font-size: var(--font-size-h1-2);
  }
  
  .hero_title span {
    font-size: var(--font-size-li-2);
  }

  .hero_image {
    width: 500px;
    height: 500px;
  }
}