.Section-light {
  background-color: var(--color-light);
  transition: background-color 0.5s ease;
}

.Section-light-2 h2 {
  background-image: var(--color-linear-2);
  transition: background-image 0.5s ease;
}

.Section-light-3 {
  background-color: var(--color-terciary);
  transition: background-color 0.5s ease;
}

.Section-light .Hero__title span {
  color: var(--color-dark-theme-3);
  font-weight: 600;
}

.Section-light h1, .Section-light h2 {
  background-image: var(--color-linear-3);
}

.Section-light .input__border, .Section-light .input-area__border {
  background-image: var(--color-linear-3);
}

.Section-light .Form-contact .input__border input, .Section-light .Form-contact .input-area__border textarea {
  background-color: var(--color-light);
  color: #000000;
  font-weight: 600;
}

.Section-light .Form-contact input::placeholder, .Section-light .Form-contact textarea::placeholder {
  color: #000000;
}

.Article-light {
  background-image: var(--color-linear-3);
  box-shadow: var(--shadow-2);
}

.Article-light .Skill__card--content {
  background-color: var(--color-light);
}

.Article-light .Skill__card--icon {
  font-size: 60px;
  color: var(--color-theme-3);
}

.Article-light:hover .Popup-skill {
  background: var(--background-popup-2);
}

.Section-light .Socialmedia-icons {
  color: var(--color-dark-theme-3);
}

.Section-light .Button-container button {
  border: var(--color-dark-theme-3) solid 2px;
  color: var(--color-dark-theme-3);
  box-shadow: var(--shadow-2);
}

.Section-light .Socialmedia-icons:hover, .Section-light .Button-container button:hover {
  color: var(--color-terciary);
  border-color: var(--color-terciary);
}

.Section-light .Map-contact {
  background-image: var(--color-linear-3);
  box-shadow: var(--shadow-2);
}

.Section-light-2 .Education__content .Education__card {
  background-image: var(--color-linear-2);
}

.Section-light-2 .Popup{
  background: var(--background-popup-2);
}

.Section-light-2 .Popup__content .See-link {
  border: var(--color-dark-theme-3) solid 2px;
  color: var(--color-dark-theme-3);
}

.Section-light-2 .Popup__content .Github-link {
  color: var(--color-dark-theme-3);
}

.Section-light-3 .Footer-made {
  color: var(--color-light);
}

.Color-light {
  color: var(--color-dark-theme-3);
}
