.project {
  width: 260px;
  height: 195px;
  position: relative;
}

.project img {
  transition: 500ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

.project_popup {
  opacity: 0;
  width: 260px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--background-popup);
  transition: 250ms;
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

.project_popup > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project_popup > div h3 {
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-light);
}

.project_popup > div .project_link {
  width: 100px;
  height: 30px;
  padding: 0px 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--color-primary) solid 2px;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.project_popup > div .project_link span {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_popup > div .github {
  margin-top: 10px;
  font-size: 30px;
  color: var(--color-primary);
}

.project:hover .project_popup {
  opacity: 1;
  height: 195px;
}

.project:hover img {
  transform: scale(1.1) rotate(5deg);
}

.light_2 .project_popup .project_link {
  border: var(--color-terciary) solid 2px;
  color: var(--color-terciary);
}

.light_2 .project_popup .github {
  color: var(--color-terciary);
}